<section>
  <h2>store</h2>
  <ul>
    <li>
      <div>
        <img />
        <p>compliments</p>
        <p>from $15</p>
      </div>
    </li>
    <li>
      <div>
        <img />
        <p>bouquets size S</p>
        <p>from $25</p>
      </div>
    </li>
    <li>
      <div>
        <img />
        <p>bouquets size M</p>
        <p>from $45</p>
      </div>
    </li>
    <li>
      <div>
        <img />
        <p>bouquets size L</p>
        <p>from $60</p>
      </div>
    </li>
  </ul>
  <button class="" type="button">order flowers</button>
</section>
